@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d8cf1;
  text-align: center;
  height: 5vh;
}

.books-display {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 2em;
}

.book {
  background-color: whitesmoke;
  box-shadow: 2px 2px 2px 2px rgb(218, 216, 216);
  width: max-content;
  border-radius: 8px;
  padding: 1em;
}

.new-book,
.remove-book,
.read-book {
  width: 80px;
  height: 35px;
  left: 12px;
  top: 12px;
  font-family: 'Poppins', san-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  flex: none;
  order: 0;
  align-self: center;
  margin: 10px 0;
  border: 1px solid #172b4d;
  border-radius: 4px;
}

.add-book {
  display: flex;
  justify-content: flex-end;
}

[type=text],
[type=number],
[type=url],
select,
textarea {
  display: block;
  padding: 0.5rem;
  background: transparent;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  font-size: 0.95rem;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) 100% no-repeat;
  line-height: 1;
}

[type=text]:focus,
[type=url]:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 1px solid #1e6bd6;
}

label {
  font-weight: 600;
  font-size: 0.9rem;
  display: block;
  margin: 0.5rem 0;
}

/* Other */

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  display: none;
}

/* Button */

[type=submit] {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.25rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid #1e6bd6;
  border-radius: 5px;
  background: #1e6bd6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.95rem;
}
